.message {
  display: flex;
  flex-direction: column;
  background-color: #c5ffff;;
  max-width: 70%;
  margin: 15px 10px;
  border-radius: 10px;
}
.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.message-user-name {
  font-size: 26px;
}
.messageReply {
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
}
.message-main {
  align-self: flex-start;
  font-size: 20px;
  margin: 5px 0 10px 15px;
  min-width: 80%;
}
.message-body {
  background-color:rgb(173, 201, 255);
    padding: 15px;
    border-radius: 25px;
    justify-content: flex-start;
    text-align: start;
}
.message-reactions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.message-like {
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.message-like-decimal {
font-size: 20px;
margin: 0 30px 0 10px;
}
.message-replies {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin: 15px;
}