.reply-input {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.reply-input-header{
font-size: 40px;
}
.reply-message-form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reply-message-input {
  width: 90%;
  height: 200px;
  margin: 20px;
}
.reply-message-buttons {
  
}
.reply-message-button, .reply-message-close {
  font-size: 24px;
  padding: 10px;
  border-radius: 15px;
}
.reply-message-close {
  margin-left: 50px;
}